body{
    background-color: aliceblue;
    text-align: center;
}
.logo{
    position: relative;
    width: 300px;
    margin-top: 50px;
}
.imagem{
    position: relative;
    margin: 20px;
    height: 25px;
}
.referencia{
    position: relative;
    height: 45px;
}
